/* basic styling so we can
   see what's going on */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

header,
.main-content,
.sidebar,
footer {
    padding: 2em;
}

header {
    background: #41D3BD;
}

.main-content {
    background: #DE6449;
}

.sidebar {
    background: #407899;
}

footer {
    background: #694D75;
}


/* ======================
   Demo stuff starts here 
   ========================*/

